<div class="header">
    <progress></progress>
    <div class="topInfo">
        <p>$
            <span class="budget">86</span>
        </p>
        <p>Day:
            <span>3</span>
        </p>
    </div>
</div>
<div class="eventTitle">
    <h1 class="eventHeader">Event</h1>
    <hr>
    <p>Officia aute duis cillum duis eu laborum ut magna aliquip.</p>
</div>
<div class="cardContainer">
    <div class="card1">
        <div>
            <p>Et duis sit reprehenderit et sint aute est.</p>
        </div>
    </div>
    <div class="card2">
        <div>
            <p>Qui non proident aute sit excepteur veniam occaecat adipisicing reprehenderit ex nisi deserunt veniam qui.</p>
        </div>
    </div>
</div>
